.cat-header {
  border-bottom: 5px solid #0086fe;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
.tag-container ul li {
  padding: 10px 0px;
}
.tag-container ul li a {
  border-left-style: solid;
  padding-left: 10px;
  border-left-width: 5px;
}
