.post-detail {
  margin: 20px 0px;
}
.post-detail img {
  height: auto;
}
.post-detail p {
  margin-bottom: 10px;
}
.post-detail em {
  font-size: 14px;
}
.post-detail h2,
.post-detail h3,
.post-detail h4,
.post-detail h5,
.post-detail h6 {
  margin-bottom: 10px;
  color: #000000;
}
.post-detail .card-meta {
  margin-top: 10px;
}
